* {
	border: 0;
	margin: 0;
	font-family: "Junge", Georgia, serif;
}

h1, h2 {
  text-align: center;
  font-family: "Amatic SC", cursive; /* Qwigley, Dancing Script */
  
  a {
    font-family: "Amatic SC", cursive;
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    background-color: white;
    color: black;
  }
  
}

h1 {
  font-size: 5.5em;
  line-height: 120px;
}

h2 {
  font-size: 4.0em;
  line-height: 80px;
}

h3 {
  font-size: 2.49em;
  line-height: 55px;
  text-align: center;
}

h4 {
  font-size: 1.8em;
  line-height: 35px;
  text-align: center;
}

input[type=text], input[type=password] {
  border-radius: 5px;
  padding: 8px;
  box-shadow:  0 0px 0 rgba(0,0,0,.4), inset 0 0px 1px rgba(0,0,0,.3); /* 0 0px 0 rgba(0,0,0,.4), inset 0 1px 2px rgba(0,0,0,.3); */
}

textarea {
  border-radius: 5px;
  padding: 8px;
  box-shadow:  0 0px 0 rgba(0,0,0,.4), inset 0 0px 1px rgba(0,0,0,.3);
  height: 229px;
  width: 600px;
}

form.centralize {
  text-align: center;
}
  
input[type=submit] {
  margin-top: 10px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  border-color: #999 #999 #666;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px;
  background-color: #ddd;
  
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: #bbb;
  }
}

#user_panel {
  position: absolute;
  right: 10px;
  top: 0;
  margin: 5px;
  font-size: smaller;
}

#tooltip {
  background-color: rgba(255,255,255,1);
  display: none;
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  right: 10px;
  top: 30px;
  margin: 5px;
  font-size: smaller;
  
  .triangle {
    position: absolute;
    bottom: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
  }
  
  .triborder {
    border-top-color: #cfcfcf;
    bottom: -6px;
    left: 10px;
  }
}

.depot_form {
  background-color: rgba(255,255,255,.8);
  position: absolute;
  text-align: center;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  right: 10px;
  top: 30px;
  margin: 5px;
  
  .triangle {
    position: absolute;
    top: -5px;
    left: 158px;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
  
  .triborder {
    border-bottom-color: #cfcfcf;
    top: -6px;
    left: 158px;
  }
  
  input[type=text], input[type=password] {
    margin-top: 10px;
    width: 200px;
  }
  
  input[type=submit] {
    margin-top: 10px;
  }
  
}

.overlay {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  background-color: rgba(255,255,255,1);
  box-shadow:  0px 0px 2px rgba(0,0,0,.4);
  padding: 5px;
  display: table;
  div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

body {
  background-color: #fff;
  background-image: url(background.jpg);
  color: #333;
  font-family: georgia, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.storyline_root {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.2em;
  padding: 5px;
  
  a{
    text-decoration: none;
  }
}

.storyline_divider {
  text-align: center;
  padding: 10px;
}

input, textarea {
  font-size: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
    
#feedback_panel {
  position: fixed;
  right: -10px;
  bottom: 50px;
  background-image: url(feedback.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 4px 25px 4px 22px;
  border-width: 1px 0px 1px 1px;
  background-color: #efefef;
  box-shadow: -1px 2px 1px rgba(0,0,0,.4);
  border-radius: 4px;
  opacity: 0.6;
  
  &:hover {
    cursor: pointer;
    opacity: 1.0;
  }
  
  a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      background: 0;
      color: black;
    }
  }
  
}

.feedback_form {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 230px;
  width: 600px;
  margin-left: -300px;
  margin-top: -115px;
  padding: 15px;
  z-index: 999;
  background-color: rgba(255,255,255,1);
  box-shadow:  0px 0px 2px rgba(0,0,0,.4);
  text-align: center;
  textarea {
    height: 100px;
  }

}
