* {
	border: 0;
	margin: 0;
	font-family: "Junge", Georgia, serif;
}

h1, h2 {
  text-align: center;
  font-style: italic;
  font-family: "Qwigley", cursive;
}

h1 {
  font-size: 5.0em;
  line-height: 100px;
}

h2 {
  font-size: 4.0em;
  line-height: 80px;
}

h3 {
  font-size: 2.49em;
  line-height: 55px;
  text-align: center;
}

input[type=text], input[type=password] {
  border-radius: 5px;
  padding: 8px;
  box-shadow:  0 0px 0 rgba(0,0,0,.4), inset 0 0px 1px rgba(0,0,0,.3); /* 0 0px 0 rgba(0,0,0,.4), inset 0 1px 2px rgba(0,0,0,.3); */
}
  
input[type=submit] {
  margin-top: 10px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  border-color: #999 #999 #666;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px;
  background-color: #ddd;
}
  
input[type=submit]:hover {
  background-color: #ccc;
}
  
input[type=submit]:active {
  background-color: #bbb;
}


#user_panel {
  position: absolute;
  right: 10px;
  top: 0;
  margin: 5px;
  font-size: smaller;
}

.depot_form {
  background-color: rgba(255,255,255,.8);
  position: absolute;
  text-align: center;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  right: 10px;
  top: 30px;
  margin: 5px;
  
  .triangle {
    position: absolute;
    top: -5px;
    left: 158px;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
  
  .triborder {
    border-bottom-color: #cfcfcf;
    top: -6px;
    left: 158px;
  }
  
  input[type=text], input[type=password] {
    margin-top: 10px;
    width: 200px;
  }
  
  input[type=submit] {
    margin-top: 10px;
  }
  
}

body {
  background-color: #fff;
  color: #333;
  font-family: georgia, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input, textarea {
  font-size: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
