// Place all the styles related to the Storylines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin icon_offset {
  img {
    margin-bottom: -3px;
  }
}

@mixin opacity_transition {
  -webkit-transition:opacity 0.5s ease-in;  
  -moz-transition:opacity 0.5s ease-in;  
  -o-transition:opacity 0.5s ease-in;  
  transition:opacity 0.5s ease-in;
}

@mixin color_transition {
  -webkit-transition:color 0.5s ease-in;  
  -moz-transition:color 0.5s ease-in;  
  -o-transition:color 0.5s ease-in;  
  transition:color 0.5s ease-in;
}

@mixin bgcolor_transition {
  -webkit-transition:background-color 0.5s ease-in;  
  -moz-transition:background-color 0.5s ease-in;  
  -o-transition:background-color 0.5s ease-in;  
  transition:background-color 0.5s ease-in;
}


@mixin centralize {
  width: 600px;
  margin: auto;
}

.storyline_root {
  @include centralize;
  a {
    color: black;
  }
  a:hover {
    background-color: transparent;
    color: #F2583E;
    @include color_transition;
  }
}

.story {

  color: #2B3E42;

  section {
  
    a {
      color: #A31E39;
      &:hover {
        color: white;
      }
    }
    
    position: relative;
    img.left {
      position: absolute;
      left: -100px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
    }
    img.right {
      position: absolute;
      right: -130px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
    }
    
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
      background-color: #f3f3f3;
      @include bgcolor_transition;
      cursor: pointer;
            
      img.left, img.right {
        opacity: 0.2;
        @include opacity_transition;
      }
    }
    
    img.left:hover, img.right:hover {
      opacity: 1.0;
      @include opacity_transition;
    }
    
  }
  
  section.active {
    background-color: #f3f3f3;
    .storyline {
      color: black;
    }
    .storyline_actions {
      display: block;
    }
    img.left, img.right {
      opacity: 0.2;
      &:hover {
        opacity: 1.0;
        @include opacity_transition;
      }
    }
  }

  .storyline_wrapper {
    @include centralize;
    position: relative;
    &:hover {
      .storyline {
        /* color: orange; */
        .storyid {
          color: black;
        }
      }
      .storyline_pen {
        opacity: 1.0;
      }
      .storytools {
        opacity: 1.0;
      }
    }
    
    .storyline_actions {
      font-size: smaller;
      display: none;
    }
    
  }
  text-align: justify;
  
  #continue_ellipses {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    line-height: 15px;
    opacity: 0.5;
      
    &:hover {
      opacity: 1.0;
      @include opacity_transition;
      cursor: pointer;
    }
  }
  
}

.story_top {
  font-size: larger;
  margin-top: 10px;
}

.storyline {
  margin-right: 0px;
  -webkit-transition:color 0.5s ease-in;  
  -moz-transition:color 0.5s ease-in;  
  -o-transition:color 0.5s ease-in;  
  transition:color 0.5s ease-in;
  
  a {
    background-color: transparent;
    -webkit-transition:color 0.5s ease-in;  
    -moz-transition:color 0.5s ease-in;  
    -o-transition:color 0.5s ease-in;  
    transition:color 0.5s ease-in;
  }
}

.storyline_pen {
  margin-left: -22px;
  float: left;
  opacity: 0.1;
  -webkit-transition:opacity 0.5s ease-in;  
  -moz-transition:opacity 0.5s ease-in;  
  -o-transition:opacity 0.5s ease-in;  
  transition:opacity 0.5s ease-in;
  
  @include icon_offset;
  
}

section a {
  text-decoration: none;
}

textarea {
  width: 580px;
}

footer {
  margin-top: 25px;
  text-align: center;
  font-size: smaller;
}

.ins {
  margin: 0;
}

.storyid {
  margin-right: -90px;
  float: right;
  color: white;
  font-size: smaller;
  -webkit-transition:color 0.5s ease-in;  
  -moz-transition:color 0.5s ease-in;  
  -o-transition:color 0.5s ease-in;  
  transition:color 0.5s ease-in;
}

.storytools {
  width: 75px;
  margin-right: -70px;
  float: right;
  opacity: 0.1;
  -webkit-transition:opacity 0.5s ease-in;  
  -moz-transition:opacity 0.5s ease-in;  
  -o-transition:opacity 0.5s ease-in;  
  transition:opacity 0.5s ease-in;
  
  @include icon_offset;
  
  a:hover {
    background-color: transparent;
  }
}

.voting {
  float: right;
  width: 55px;
}

.callout {
  position: relative;
  padding: 1px 3px 1px 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  margin-right: 10px;
  margin-left: 2px;
  
  .triangle {
    position: absolute;
    top: 6px;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
  }
  
  .triborder {
    border-right-color: #cfcfcf;
    top: 6px;
    left: -6px;
  }
  
}